        body {
            background-color: #ffeafe;
            background-attachment:scroll;
            background-image: url("bekgron.png")
        }
        
        .icon {
            opacity: 0.77;
            display: inline;
        }

        .stroked {
            position: static;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 1.6;
            letter-spacing: 0.095em;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #333333;
            -webkit-text-fill-color: transparent;
            text-align: left;
            display:block;
            width:580px;
            margin:0 auto;
        }

        .name {
            position: static;
            border: 5px dashed #333333;
            outline-width: thick;
            box-sizing: border-box;
            text-align: center;
            color: #333333;
        }
        .landing-page{
            text-align: center;
        }
        h2 {
            position: relative;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 58px;
            line-height: 71px;
            text-align: center;
        }
        
        .button {
            font-family: Montserrat, sans-serif;
            background-color: transparent;
            border: none;
            color: #333333;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            font-weight: bolder;
            margin: 4px 2px;
            cursor: pointer;
            position: relative;
            align-items: center;
            border: 3px solid #333333;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px #333333;
            border-radius: 24px;
        }
        .button:hover {background-color:#F2DEFE}

        .button:active {
        box-shadow: 0 1px #666;
        transform: translateY(3px);
        }

        body {
            background-color: #ffeafe;
        }

        .navbar {
            background: #333333;

        }

        .desc {
            background-color: #333333;
            padding-top: 20px;
            padding-right: 69px;
            padding-left: 65px;
            padding-bottom: 65px;
            float: right;
            width: 50%;
            margin-top: 126px;
            bottom: 184px;
            margin-left: 650px;
        }

        .desctitle {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 72px;
            line-height: 88px;
            color: #FFEAFE;
            top: 170px;
            right: 70px;
        }

        #descaku {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            text-align: justify;
            color: #FFEAFE;
        }

        .fotoku {
            position: absolute;
            float: left;
            z-index: -1;
            width: 100%;
        }

        #bodyExperiences {
            background-image: url("bekgron2.png");
            background-attachment: scroll;
            background-size: 100%;
        }
        

        .exper_title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 72px;
            line-height: 88px;
            color: #333333;
            text-align: right;
            right: 86px;
        }

        p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            text-align: left;
            color: #333333;
            margin-left: 115px;
            margin-top: 169px;
        }

        #bodySkills {
            background-image: url("bekgron3.png");
            background-size: 100%;
        }

        h1 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 72px;
            line-height: 88px;
            color: #333333;
            text-align: right;
            position: absolute;
            left: 305px;
            top: 312px;
        }

        .myskills {
            left: 803px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            text-align: left;
            color: #333333;
            margin-right: 185px;
            margin-top: 125px;
            position: static;
        }

        .category {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 88px;
            color: #333333;
            text-align: left;
            position: relative;
            top: 138px;
        }

        .skill {
            margin-left: 803px;
        }

        #bodyHomeContacts {
            background-image: url("bekgron.png");
            background-size: 100%;
        }

        .iconcontacts {
            opacity: 0.77;
            text-align: center;
            margin-top: 420px;
        }

        img {
            padding: 20px;
        }

        .chibird {
            width: 100%;
        }