<!DOCTYPE html>
{% load static %}
<html lang="en"></html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap-grid.css' static %}">
    <link rel="stylesheet" href="{% static 'bootstrap.css' static %}">
    <link rel="stylesheet" href="{% static 'style.css' static %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <title>SRA : About Me</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
            <div class="container">
              <div class="row">
                <a class="navbar-brand" href="{% url 'index' %}">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'about' %}">About Me<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'experiences' %}">Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'skills' %}">My Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacts' %}">Contacts</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
    <img class="fotoku" src="{% static 'images/dengak.jpg' %}" alt="fotoku" width="100%" height="auto">
    <div class="desc">
        <h1 class="desctitle">About Me</h1>
        <p id="descaku">My name is Safira Rizki Anartya. People call me Safira/Ila. I’m 19 years old.
            I'm a university student who loves to learn what I like. I’m currently studying at Universitas Indonesia. 
            I’m an Information System students. There are many things I enjoy, such as Netflix, watch KDramas and eating.</p>
    </div>
</body>