<!DOCTYPE html>
{% load static %}
<html lang="en"></html>
<head>
    <link rel="stylesheet" href="{% static 'bootstrap-grid.css' static %}">
    <link rel="stylesheet" href="{% static 'bootstrap.css' static %}">
    <link rel="stylesheet" href="{% static 'style.css' static %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
        <title>Self Care!</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'experiences' %}">Experiences</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'skills' %}">My Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacts' %}">Contacts<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>
    <img class="chibird" src="{% static 'images/chibird.jpg' %}" alt="chibird" width="100%" height="auto">
</body>