<!DOCTYPE html>
{% load static %}
<html lang="en"></html>
<head>
  <link rel="stylesheet" href="{% static 'bootstrap-grid.css' static %}">
  <link rel="stylesheet" href="{% static 'bootstrap.css' static %}">
  <link rel="stylesheet" href="{% static 'style.css' static %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <title>SRA : Experiences</title>
</head>
<body id="bodyExperiences">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
          <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'about' %}">About Me</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'experiences' %}">Experiences<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'skills' %}">My Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacts' %}">Contacts</a>
                    </li>
                  </ul>
                </div>
            </div>
          </nav>
    <p>COMPFEST<br>Staff of Digital Marketing<br><br>DPM Fasilkom UI<br>Staff of Media, Creative, and Design<br><br>
    Wisuda Genap Fasilkom UI 2019<br>VPIC of Documentation<br><br>UI Ethnovaganza<br>VPIC of Design</p>
    <h1 class="exper_title">Experiences</h1>
</body>