<!DOCTYPE html>
{% load static %}
<html lang="en"></html>
<head>
    <title>SRA</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'style.css' static %}">
</head>
<body id="bodyHomeContacts">
    <div class="icon">
        <a href="{% url 'https://instagram.com/safirarizkia' url %}">
            <img src="{% static 'images/instaicon.png' static %}" alt="instagram icon" width="34px" height="34px">    
    </a>
    </div>
    
    <div class="icon">
        <a href="{% url 'https://twitter.com/sapearare' url %}">
            <img src="{% static 'images/twittericon.png' static %}" alt="twitter icon" width="34px" height="34px">    
    </a>
    </div>

    <div class="icon">
        <a href="{% url 'http://line.me/ti/p/~sfrrzkanrty' url %}">
            <img src="{% static 'images/lineicon.png' static %}" alt="line icon" width="34px" height="34px">    
    </a>
    </div>

    <div class="icon">
        <a href="{% url 'mailto:safirarizkia85@gmail.com' url %}">
            <img src="{% static 'images/mailicon.png' static %}" alt="mail icon" width="34px" height="34px">    
    </a>
    </div>
    <div class="landing-page">
        <div>
            <h1 class="stroked">Hello.<br>I'm</h1>
        </div>
        <div>
            <h2 class="name">Safira Rizki Anartya</h2>
        </div>
    <a href="{% url 'aboutme.html' url %}" class="button">About Me</a>
    <a href="{% url 'chibird.html' url %}" class="button">Click Here for Surprise!</a>
    </div>
</body>
</html>